@import url(https://fonts.googleapis.com/css?family=Lato:regular,italic,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #848789;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.icon:not(:last-child) {
  padding-bottom: 1.875rem;
}

.title {
  font-weight: 700;
  line-height: 1.2222222222;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #353738;
}

.title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.text {
  line-height: 1.8888888889;
  margin-top: 0.625rem;
}

.text_j {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.875;
}

.text_j::after {
  content: "";
  display: block;
  margin: 5% auto 0rem auto;
  width: 50px;
  height: 1px;
  background: rgba(53, 55, 56, 0.5);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 0.625rem;
  left: 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-51.5%);
      -ms-transform: translateX(-51.5%);
          transform: translateX(-51.5%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
  padding: 0 2.5rem;
}

.menu__item:nth-child(2) {
  padding: 0rem 6.25rem 0rem 2.5rem;
}

.menu__item:nth-child(2)::after {
  content: "";
  display: none;
}

.menu__item:nth-child(3) {
  padding: 0rem 2.5rem 0rem 6.25rem;
}

.menu__item::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.09375rem;
}

.menu__item:last-child::after {
  content: "";
  display: none;
}

.menu__link {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.2307692308;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: #4d4959;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.menu__link:hover {
  color: #64c29e;
  -webkit-filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
          filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
}

.icon-menu {
  display: none;
}

.footer {
  background: #F7F7F7;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__label {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  line-height: 1.125;
}

.location__value {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-style: italic;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social-footer__link:hover {
  -webkit-filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
          filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.dev:hover {
  -webkit-filter: drop-shadow(-0.0625rem 0.0625rem 0 #64c29e);
          filter: drop-shadow(-0.0625rem 0.0625rem 0 #64c29e);
}

.dev__text {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-style: italic;
  margin-right: 0.625rem;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.generation {
  background: #f7f7f7;
}

.block-title__icon:not(:last-child) {
  padding-bottom: 1.875rem;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brands__block-title {
  position: relative;
  padding-left: 65px;
  padding-right: 65px;
}

.brands__block-title::after {
  content: "";
  position: absolute;
  margin-left: -0.625rem;
  bottom: -0.625rem;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.brands__image-ibg {
  padding-bottom: 37.51%;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.item__logo span {
  font-size: 0.875rem;
  color: #fff;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-top: 0.625rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item__logo span:hover {
  color: #282f35;
  font-weight: 700;
  -webkit-filter: drop-shadow(-0.0625rem 0.0625rem 0 #64c29e);
          filter: drop-shadow(-0.0625rem 0.0625rem 0 #64c29e);
}

.item__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.social {
  background: #f7f7f7;
}

.social__slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social__titel {
  font-weight: 700;
  color: #353738;
}

.social__titel span {
  font-weight: 400;
  color: #848789;
  letter-spacing: 1.8px;
}

.social__titel:not(:last-child) {
  margin-bottom: 1.125rem;
}

.social__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-style: italic;
  line-height: 1.4166666667;
  color: #848789;
}

.swiper-pagination {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  gap: 0.46875rem;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
}

.swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  height: 0.625rem;
  width: 1.25rem;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  height: 0.625rem;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background-color: rgb(214, 214, 214);
}

.swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  background-color: #64c29e;
  width: 0.625rem;
  height: 0.625rem;
  top: 50%;
  left: 0;
  border-radius: 75%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  position: absolute;
  opacity: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 0.625rem;
}

.swiper-pagination .swiper-pagination-bullet-active::after {
  background-color: #64c29e;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
}

.block-shop__item {
  height: auto;
  padding-bottom: 50%;
}

.block-shop__item_litle {
  padding-bottom: 100%;
}

.block-shop__item_big {
  padding-bottom: 200.5%;
}

.footer-shop {
  background: #282f35;
}

.footer-shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-shop__button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.0001);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.9375rem 2.5rem;
  -webkit-transition: color 0.75s ease 0s;
  -o-transition: color 0.75s ease 0s;
  transition: color 0.75s ease 0s;
}

.footer-shop__button:hover {
  color: #282f35;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #282f35;
}

.subscribe__body {
  width: 100%;
  max-width: 33.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__logo {
  margin-bottom: 1.25rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.subscribe__logo:hover {
  -webkit-filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
          filter: drop-shadow(-0.0625rem 0.0625rem 0 black);
}

.subscribe__label {
  font-style: italic;
  line-height: 1.4166666667;
}

.subscribe__form {
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-style: italic;
  line-height: 1.2;
  color: #929292;
  outline: none;
  border: 1px solid #d3d7d9;
}

.form__input::-webkit-input-placeholder {
  color: #5f5f5f;
}

.form__input::-moz-placeholder {
  color: #5f5f5f;
}

.form__input:-ms-input-placeholder {
  color: #5f5f5f;
}

.form__input::-ms-input-placeholder {
  color: #5f5f5f;
}

.form__input::placeholder {
  color: #5f5f5f;
}

.form__input:focus {
  outline: none;
  border: 1px solid #d3d7d9;
}

.form__input._form-error {
  border: 1px solid red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: rgb(255, 0, 0);
}

.form__input._form-error::-moz-placeholder {
  color: rgb(255, 0, 0);
}

.form__input._form-error:-ms-input-placeholder {
  color: rgb(255, 0, 0);
}

.form__input._form-error::-ms-input-placeholder {
  color: rgb(255, 0, 0);
}

.form__input._form-error::placeholder {
  color: rgb(255, 0, 0);
}

.form__error {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 0.875rem;
  margin-top: -0.9375rem;
  padding-left: 44.5%;
}

.form__button {
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  color: #fff;
  background: -o-radial-gradient(circle, rgb(100, 194, 158) 5%, rgb(114, 255, 201) 45%, rgb(114, 255, 201) 55%, rgb(100, 194, 158) 95%);
  background: radial-gradient(circle, rgb(100, 194, 158) 5%, rgb(114, 255, 201) 45%, rgb(114, 255, 201) 55%, rgb(100, 194, 158) 95%);
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.form__button:hover {
  color: #353738;
  background: -o-radial-gradient(circle, rgb(114, 255, 201) 5%, rgb(100, 194, 158) 45%, rgb(100, 194, 158) 55%, rgb(114, 255, 201) 95%);
  background: radial-gradient(circle, rgb(114, 255, 201) 5%, rgb(100, 194, 158) 45%, rgb(100, 194, 158) 55%, rgb(114, 255, 201) 95%);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 70.625em) {
  .block-title {
    padding-top: 3.75rem;
  }

  .block-title {
    padding-bottom: 3.75rem;
  }

  .title {
    font-size: 1.125rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .footer__container {
    padding-top: 4.6875rem;
  }

  .footer__container {
    padding-bottom: 4.6875rem;
  }

  .generation__container {
    padding-top: 2.5rem;
  }

  .generation__container {
    padding-bottom: 2.5rem;
  }

  .social__container {
    padding-top: 5rem;
  }

  .social__container {
    padding-bottom: 3.125rem;
  }

  .social__slide {
    padding-left: 1.875rem;
  }

  .social__slide {
    padding-right: 1.875rem;
  }

  .social__titel {
    font-size: 1.125rem;
  }

  .social__text {
    font-size: 1.5rem;
  }

  .swiper-pagination {
    padding-top: 1.25rem;
  }

  .swiper-pagination {
    padding-bottom: 1.875rem;
  }

  .footer-shop__container {
    padding-top: 4.6875rem;
  }

  .footer-shop__container {
    padding-bottom: 4.6875rem;
  }

  .subscribe__container {
    padding-top: 4.6875rem;
  }

  .subscribe__container {
    padding-bottom: 4.6875rem;
  }

  .subscribe__label {
    font-size: 1.5rem;
  }

  .subscribe__label:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .form__input {
    font-size: 1.25rem;
  }

  .form__input {
    padding-top: 1.25rem;
  }

  .form__input {
    padding-bottom: 1.25rem;
  }

  .form__input {
    padding-left: 0.9375rem;
  }

  .form__input {
    padding-right: 0.9375rem;
  }

  .form__button {
    font-size: 1.5rem;
  }

  .form__button {
    padding-top: 1.25rem;
  }

  .form__button {
    padding-bottom: 1.25rem;
  }

  .form__button {
    padding-left: 1.875rem;
  }

  .form__button {
    padding-right: 1.875rem;
  }
}

@media (max-width: 20em) {
  .block-title {
    padding-top: 1.25rem;
  }

  .block-title {
    padding-bottom: 1.25rem;
  }

  .title {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .footer__container {
    padding-top: 2.34375rem;
  }

  .footer__container {
    padding-bottom: 2.34375rem;
  }

  .generation__container {
    padding-top: 1.25rem;
  }

  .generation__container {
    padding-bottom: 1.25rem;
  }

  .social__container {
    padding-top: 1.875rem;
  }

  .social__container {
    padding-bottom: 1.875rem;
  }

  .social__slide {
    padding-left: 0.625rem;
  }

  .social__slide {
    padding-right: 0.625rem;
  }

  .social__titel {
    font-size: 1rem;
  }

  .social__text {
    font-size: 1.125rem;
  }

  .swiper-pagination {
    padding-top: 0.625rem;
  }

  .swiper-pagination {
    padding-bottom: 1.25rem;
  }

  .footer-shop__container {
    padding-top: 2.34375rem;
  }

  .footer-shop__container {
    padding-bottom: 2.34375rem;
  }

  .subscribe__container {
    padding-top: 2.34375rem;
  }

  .subscribe__container {
    padding-bottom: 2.34375rem;
  }

  .subscribe__label {
    font-size: 1.25rem;
  }

  .subscribe__label:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .form__input {
    font-size: 1.125rem;
  }

  .form__input {
    padding-top: 0.9375rem;
  }

  .form__input {
    padding-bottom: 0.9375rem;
  }

  .form__input {
    padding-left: 0.625rem;
  }

  .form__input {
    padding-right: 0.625rem;
  }

  .form__button {
    font-size: 1.25rem;
  }

  .form__button {
    padding-top: 0.9375rem;
  }

  .form__button {
    padding-bottom: 0.9375rem;
  }

  .form__button {
    padding-left: 1.25rem;
  }

  .form__button {
    padding-right: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    height: 100%; /*--ИСПРАВИЛ AUTO НА 100%--*/
    padding-bottom: 70%;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .brands__block-title {
    padding-left: 0.9375rem;
  }

  .brands__block-title {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 0.9375rem;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-transition: top 0.7s ease 0s;
    -o-transition: top 0.7s ease 0s;
    transition: top 0.7s ease 0s;
    background: -o-radial-gradient(circle, rgba(233, 234, 239, 0.9) 0%, rgba(243, 243, 251, 0.9) 50%, rgba(218, 213, 219, 0.9) 100%);
    background: radial-gradient(circle, rgba(233, 234, 239, 0.9) 0%, rgba(243, 243, 251, 0.9) 50%, rgba(218, 213, 219, 0.9) 100%);
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 5;
    height: 6.5625rem;
    background: -o-radial-gradient(circle, rgba(233, 234, 239, 0.9) 0%, rgba(243, 243, 251, 0.9) 50%, rgba(218, 213, 219, 0.9) 100%);
    background: radial-gradient(circle, rgba(233, 234, 239, 0.9) 0%, rgba(243, 243, 251, 0.9) 50%, rgba(218, 213, 219, 0.9) 100%);
    -webkit-transition: top 0.7s ease 0s;
    -o-transition: top 0.7s ease 0s;
    transition: top 0.7s ease 0s;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    padding: 1.25rem 0;
  }

  .menu__item:last-child,
  .menu__item:nth-child(2),
  .menu__item:nth-child(3) {
    padding: 1.25rem 0;
  }

  .menu__item:nth-child(2)::after {
    content: "";
    display: block;
  }

  .menu__item::after {
    right: 50%;
    top: 100%;
    margin-top: -0.09375rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .menu__link:hover {
    color: #64c29e;
    -webkit-filter: drop-shadow(-0.0625rem 0.125rem 0 black);
            filter: drop-shadow(-0.0625rem 0.125rem 0 black);
  }

  .icon-menu {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #64c29e;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .shop__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__button {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgb(255, 255, 255)), color-stop(40%, rgb(100, 194, 158)), color-stop(60%, rgb(100, 194, 158)), color-stop(95%, rgb(255, 255, 255)));
    background: -o-linear-gradient(left, rgb(255, 255, 255) 5%, rgb(100, 194, 158) 40%, rgb(100, 194, 158) 60%, rgb(255, 255, 255) 95%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(100, 194, 158) 40%, rgb(100, 194, 158) 60%, rgb(255, 255, 255) 95%);
  }

  .form__button:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgb(255, 255, 255)), color-stop(40%, rgb(114, 255, 201)), color-stop(60%, rgb(114, 255, 201)), color-stop(95%, rgb(255, 255, 255)));
    background: -o-linear-gradient(left, rgb(255, 255, 255) 5%, rgb(114, 255, 201) 40%, rgb(114, 255, 201) 60%, rgb(255, 255, 255) 95%);
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(114, 255, 201) 40%, rgb(114, 255, 201) 60%, rgb(255, 255, 255) 95%);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 8.125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.125rem) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    text-align: center;
  }
}

@media (max-width: 29.99875em) {
  .item__logo img {
    max-width: 50%;
  }
}

@media (min-width: 20em) and (max-width: 70.625em) {
@supports (padding-top: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem )) {
    .block-title {
      padding-top: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem )) {
    .block-title {
      padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem )) {
    .block-title {
      padding-bottom: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.262345679rem  +  4.9382716049vw , 3.75rem )) {
    .block-title {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .title {
      font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .text {
      font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer__container {
      padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer__container {
      padding-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer__container {
      padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer__container {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .generation__container {
      padding-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .generation__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .generation__container {
      padding-bottom: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .generation__container {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6404320988rem  +  6.1728395062vw , 5rem )) {
    .social__container {
      padding-top: clamp( 1.875rem , 0.6404320988rem  +  6.1728395062vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6404320988rem  +  6.1728395062vw , 5rem )) {
    .social__container {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem )) {
    .social__container {
      padding-bottom: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem )) {
    .social__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem )) {
    .social__slide {
      padding-left: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem )) {
    .social__slide {
      padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem )) {
    .social__slide {
      padding-right: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.1311728395rem  +  2.4691358025vw , 1.875rem )) {
    .social__slide {
      padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .social__titel {
      font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.950617284rem  +  0.2469135802vw , 1.125rem )) {
    .social__titel {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.5rem )) {
    .social__text {
      font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.5rem )) {
    .social__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3780864198rem  +  1.2345679012vw , 1.25rem )) {
    .swiper-pagination {
      padding-top: clamp( 0.625rem , 0.3780864198rem  +  1.2345679012vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3780864198rem  +  1.2345679012vw , 1.25rem )) {
    .swiper-pagination {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .swiper-pagination {
      padding-bottom: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .swiper-pagination {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer-shop__container {
      padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer-shop__container {
      padding-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer-shop__container {
      padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .footer-shop__container {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .subscribe__container {
      padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .subscribe__container {
      padding-top: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .subscribe__container {
      padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.34375rem , 1.4178240741rem  +  4.6296296296vw , 4.6875rem )) {
    .subscribe__container {
      padding-bottom: calc(2.34375rem + 2.34375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem )) {
    .subscribe__label {
      font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem )) {
    .subscribe__label {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.5rem )) {
    .subscribe__label:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7152777778rem  +  1.1111111111vw , 1.5rem )) {
    .subscribe__label:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.125rem , 1.075617284rem  +  0.2469135802vw , 1.25rem )) {
    .form__input {
      font-size: clamp( 1.125rem , 1.075617284rem  +  0.2469135802vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.075617284rem  +  0.2469135802vw , 1.25rem )) {
    .form__input {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__input {
      padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__input {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__input {
      padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__input {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem )) {
    .form__input {
      padding-left: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem )) {
    .form__input {
      padding-left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem )) {
    .form__input {
      padding-right: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.5015432099rem  +  0.6172839506vw , 0.9375rem )) {
    .form__input {
      padding-right: calc(0.625rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem )) {
    .form__button {
      font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1512345679rem  +  0.4938271605vw , 1.5rem )) {
    .form__button {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__button {
      padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__button {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__button {
      padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.8140432099rem  +  0.6172839506vw , 1.25rem )) {
    .form__button {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .form__button {
      padding-left: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .form__button {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .form__button {
      padding-right: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0030864198rem  +  1.2345679012vw , 1.875rem )) {
    .form__button {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 50.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 70.625em) {
  .menu__body {
    padding-top: 9.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 70.625em) {
@supports (padding-top: clamp( 8.125rem , 7.6311728395rem  +  2.4691358025vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 8.125rem , 7.6311728395rem  +  2.4691358025vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 7.6311728395rem  +  2.4691358025vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(8.125rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 100em) {
@supports (padding-right: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem )) {
    .brands__block-title {
      padding-right: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem )) {
    .brands__block-title {
      padding-right: calc(0.9375rem + 3.125 * (100vw - 61.99875rem) / 38.00125);
    }
}

@supports (padding-left: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem )) {
    .brands__block-title {
      padding-left: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -4.1609137035rem  +  8.2234137035vw , 4.0625rem )) {
    .brands__block-title {
      padding-left: calc(0.9375rem + 3.125 * (100vw - 61.99875rem) / 38.00125);
    }
}

@supports (padding-top: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem )) {
    .brands__block-title {
      padding-top: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem )) {
    .brands__block-title {
      padding-top: calc(1.25rem + 2.8125 * (100vw - 61.99875rem) / 38.00125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem )) {
    .brands__block-title {
      padding-bottom: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -3.3385723331rem  +  7.4010723331vw , 4.0625rem )) {
    .brands__block-title {
      padding-bottom: calc(1.25rem + 2.8125 * (100vw - 61.99875rem) / 38.00125);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 70.625em) {
  .brands__block-title {
    padding-left: 4.0625rem;
  }

  .brands__block-title {
    padding-right: 4.0625rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 70.625em) {
@supports (padding-left: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem )) {
    .brands__block-title {
      padding-left: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem )) {
    .brands__block-title {
      padding-left: calc(0.9375rem + 3.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem )) {
    .brands__block-title {
      padding-right: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.2970679012rem  +  6.1728395062vw , 4.0625rem )) {
    .brands__block-title {
      padding-right: calc(0.9375rem + 3.125 * (100vw - 20rem) / 50.625);
    }
}
}
